# Environments
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# OS
.DS_Store
Thumbs.db
